.menu-childCardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 400px;
  min-height: 400px;
  padding-bottom: 60px;
  margin-right: 30px;
}

.menu-cardTitle {
  font-size: 18px;
  font-weight: bold;
}

.menu-cardPrice {
  font-size: 16px;
  font-weight: bold;
}

.offer-cardImg {
  width: 100%;
}

.offer-cardCategory {
  display: flex;
  gap: 5px;
}

.offer-cardCategory-text {
  font-size: 15px;
  text-align: start;
}

.offer-button-add {
  width: 96%;
  display: flex;
  padding: 5px;
}

.offer-card-addToCart {
  background-color: #e4002b;
  color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.offer-card-addToCart:hover {
  cursor: pointer;
  zoom: 120%;
}

.offee-cart-buttonImg {
  width: 20px;
  padding-left: 5px;
}

.card1-skeleton {
  background-color: #f0f0f0;
  animation: shimmer 1.5s infinite linear alternate;
}

.card1-skeleton-img {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
}
.card1-skeleton-img > img {
  width: 100%;
  /* height: 200px; */
  background-color: #e0e0e0;
  filter: brightness(1.8);
}

.card1-skeleton-text {
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.card1-skeleton-text-large {
  width: 80%;
  height: 20px;
}

.card1-skeleton-text-small {
  width: 60%;
  height: 20px;
}

.card1-skeleton-button {
  width: 100%;
  height: 35px;
  background-color: #e0e0e0;
  border-radius: 25px;
}

.card1-skeleton-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-right: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .menu-childCardBody {
    width: 300px;
  }

  .offer-cardImg {
    width: 300px;
  }
}
