.menu-childCardBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 400px;
    min-height: 400px;
    padding-bottom: 60px;
    margin-right: 30px;
}

.menu-cardTitle {
    font-size: 18px;
    font-weight: bold;
}

.menu-cardPrice {
    font-size: 16px;
    font-weight: bold;
}


.offer-cardImg {
    width: 100%;
}

.offer-cardCategory {
    display: flex;
    gap: 5px;
}

.offer-cardCategory-text {
    font-size: 15px;
    text-align: start;
}

.offer-button-add {
    width: 96%;
    display: flex;
    padding: 5px;
}

.offer-card-addToCart {
    background-color: #E4002B;
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    .offee-cart-buttonImg {
        width: 20px;
        padding-left: 5px;
    }
}

.offer-card-addToCart:hover {
    cursor: pointer;
    zoom: 120%;
}

@media only screen and (max-width:1024px) {
    .menu-childCardBody {
        width: 300px;
    }

    .offer-cardImg {
        width: 300px;
    }
}