@import url(https://db.onlinewebfonts.com/c/7de69a716652a3d82e8e7099fa1ec6a2?family=National+2+Condensed+Bold);

.hero-Main-Contianer {
    padding-top: 144px;
    width: 100%;
}

.headerBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    color: white;
    height: 70px;
    width: 100%;
    gap: 10px;
}

.heroBottom-text {
    font-family: "National 2 Condensed Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .5px;
}

.startOrderBtn {

    padding: 7px 25px;
    border-radius: 15px;
    background-color: #e4002b;
    color: #fff;
    border-color: #e4002b;
}

.welcomeContainer {
    background-color: #edeceb;
    display: block;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 180px;
}

.categorySection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.categoryCards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
}

.lineImg {
    width: 50px;
}

.welcomeGreeting {
    display: flex;
    align-items: flex-start;
    font-size: 50px;
    padding-top: 20px;
    font-family: "National 2 Condensed Bold";

}

.categoriesContainer {
    display: flex;
}

.categoriesLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-family: "National 2 Condensed Bold";
    font-size: 30px;
    padding-left: 130px;

}

.categoriesRight {
    padding-left: 30px;
    display: flex;
    width: 58%;
    align-items: center;
    justify-content: center;

}

.horizontalLine {
    width: 90%;
    height: 40px;
    height: 2px;
    background-color: gray;

}


@media only screen and (max-width : 1024px) {
    .categoryCards {
        grid-template-columns: repeat(3, 1fr);
    }

    .welcomeContainer {
        padding-left: 120px;
    }
}

@media only screen and (max-width : 768px) {
    .categoryCards {
        grid-template-columns: repeat(2, 1fr);
    }

    .categoriesContainer {
        width: 100%;
    }

    .categoriesLeft {
        width: 200px;
        padding-left: 40px;
        font-size: 20px;
    }

    .categoriesRight {
        padding-left: 10px;
        font-size: 20px;
    }

    .welcomeContainer {
        padding-left: 40px;
    }

    .headerBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        font-size: 12px;
    }

    .heroBottom-text {
        font-size: 12px;
    }
}

@media only screen and (max-width : 470px) {
    .categoryCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-Main-Contianer {
        padding-top: 114px;
    }

    .categoriesLeft {
        padding-left: 20px;
    }

    .welcomeContainer {
        padding-left: 20px;
    }

    .headerBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        font-size: 10px;
    }

    .heroBottom-text {
        font-size: 10px;
    }
}