.categoriesCard {
  width: 250px;
  height: 262px;
  background-color: #f8f7f5;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.categoriesImg {
  width: 100%;
  height: 75%;
}

.categoryImg {
  width: 100%;
}

.menuText {
  text-align: center;
}

.categories-skeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.categories-skeleton-img {
  width: 100%;
  height: 75%;
  background-color: #e0e0e0;
  animation: imgOpacity 1.5s infinite linear alternate;
}
.categories-skeleton-img > img {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  filter: brightness(2);
}

.categories-skeleton-text {
  width: 60%;
  height: 20px;
  background-color: #e0e0e0;
  margin-top: 10px;
  animation: shimmer 1.5s infinite linear alternate;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-position: 468px 0;
    background-color: hsl(200, 20%, 95%);
  }
}
@keyframes imgOpacity {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
